name: Develop pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_fe:
    name: Build and Lint
    timeout-minutes: 15
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cli

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: cli/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Run biome check
        run: pnpm check

      - name: Build
        run: pnpm build
