name: Publish Node.js Package

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cli
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3
      - run: pnpm install
      - run: pnpm check
      - run: pnpm build
      - run: pnpm version from-git --no-git-tag-version
      - run: cp ../README.md ../LICENSE .
      - run: pnpm publish --no-git-checks